.navbar{
    margin:0%;
    height: 3rem;
    width:100vw;
    background-color:rgb(69, 167, 184);
    display:flex;
    align-items: center;
    justify-content: end;
    position:sticky;
    font-weight: bolder;
    flex-direction: row;
    width: 100%;
    /* top:0; */
    /* left:0; */
}