.App
{
    min-height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding: 12px 32px; 
}
body{
    background-image: url("https://wallpapercave.com/wp/wp4793276.jpg");
    background-size: cover;
    padding: 12px 32px; 
    background-color:burlywood;
}
button{
    padding: 12px 32px;
    border-radius: 15px;
     display: flex;
     flex-direction: column;
     outline: none;
}